<span class="battle-menu-turn menu-attack sub-menu">
    {{#each monster}}
    <li><button class="menu-select">{{name}}</button></li>
    {{/each}}
    {{#each character}}
      <li><button class="menu-select attack-character">{{name}}</button></li>
    {{/each}}


    

</span>