<span class="battle-menu-turn">

    <li><button class="menu-select" id="attack">Attack</button></li>
    <li><button class="menu-select" id="defend">Defend</button></li>
    <li><button class="menu-select" id="magic">Magic</button></li>
    <li><button class="menu-select" id="items">Items</button></li>
    <li><button class="menu-select" id="run">RUN!</button></li>
    

</span>