<div class="desert-battle">
  <div>
    <div class="battle-menu-main">NAME 
      <li>Link</li>
      <li>Ellie</li>
    </div>
    <div class="battle-menu-main-stats">
    <table>
      <tr>
        <th>HP</th>
        <th>MP</th>
      </tr>
      <tr>
        <td>1000/1000</td>
        <td>300/300</td>
      </tr>
      <tr>
        <td>800/1000</td>
        <td>200/400</td>
      </tr>
    </table>
  </div>
</div>
<span class="hero1"></span>
<span class="hero2"></span> 
{{turn}}
