<div class="game-over-screen">
  <div>Game Over</div>
  <button id="home"><span class="ff-sprite game-over-sprite hero-game-over" data-name="Link"></span></button>
</div>
<audio id="game-over" controls autoplay name="media"> <source src="../../utility/19 Game Over.mp3" type="audio/mpeg"> </audio>