<div class="game-over-screen">
  <div>Game Over</div>
  <span class="hero1 battle-hero battle-hero-position1-back battle-ff-sprite battle-sprite-size battle-hero-red-boy dead hero-game-over" data-name="Link"></span>
</div>