<header class="hero-container">
  <ul class="header">
    {{!-- <li>
      <a href="#about-me">About-Me</a>
    </li> --}}
    <li>
      <a href="#about-game">About Game</a>
    </li>
    <li>
      <a href="#controls">Controls</a>
    </li>
    <li>
      <a href="#help">Help</a>
    </li>
    <section class="game-link">
      <li>
        <a href="/#/new-game" class="success-link">New Game</a>
      </li>
      <li>
        <a href="/#/game" class="cool-link">Continue</a>
      </li>
    </section>
  </ul>
  
  <h1>Ellie's Quest</h1>
  
  <a href="/#/new-game"><button class="success-button">New Game</button></a>
  <a href="#/game"><button class="cool-button">Continue</button></a>
  {{!-- <img src="../../src/images/ss3.png" alt=""> --}}
  <div class="screenshot-scroll"></div>
  <div class="list-characters"><div><span class="{{classes}} home-hero"></span></div></div>

</header>

<section class="main-section">


  
  <p id="about-game">In the year 2030 war broke out across the globe.  
    Everyone's worst fears of nuclear warfare came to pass.  In order to somewhat
    preserve humanity, scientists created sleeper pods that would allow people to
    be cryogenically frozen.  After a few hundred years had passed and it was safe to
    live, they would automatically be revived.  There were hundreds of people locked in
    the pods to be humanity's last hope.</p>
    <p>That was 368 years ago.  Today the first pod has been opened.  Link awakens 
    to find that his pod has been opened earlier than it was programmed to open. He finds 
    instructions left for him to go wake the other sleepers.  Link's first priority is finding
    his sister Ellie and making sure she is safe.  When Link got to where Ellie's pod was he was
    greeted by a young boy who appeared to be trying to destroy her pod.  Link stops him and revives
    Ellie.  Together they set out to open the other pods before the strange boy can get to them.</p>
</section>

<section class="footer">
  <h4>Check Me Out</h4>
  <a href="https://twitter.com/richijeffery"><img src="src/images/twitter.png" alt=""></a>
  <a href="https://www.facebook.com/richi.jeffery"><img src="src/images/facebook.png" alt=""></a>
  <a href="https://github.com/richi1717"><img src="src/images/github.png" alt=""></a>
  <a href="https://plus.google.com/u/0/117737463118863088157/posts/p/pub"><img src="src/images/google-plus.png" alt=""></a>
</section>