<header class="hero-container">
  <ul class="header" id="hero-section">
    {{!-- <li>
      <a href="#about-me">About-Me</a>
    </li> --}}
    <li>
      <a href="#about-game">About Game</a>
    </li>
    <li>
      <a href="#controls">Controls</a>
    </li>
    <li>
      <a href="#help">Help</a>
    </li>
    <section class="game-link">
      <li>
        <a href="/#/new-game" class="success-link">New Game</a>
      </li>
      <li>
        <a href="/#/game" class="cool-link">Continue</a>
      </li>
    </section>
  </ul>
  
  <h1>Ellie's Quest</h1>
  
  <a href="/#/new-game"><button class="success-button">New Game</button></a>
  <a href="#/game"><button class="cool-button">Continue</button></a>
  {{!-- <img src="../../src/images/ss3.png" alt=""> --}}
  <div class="screenshot-scroll"></div>

</header>

<section class="main-section">

  <div id="about-game">
    <a href="#hero-section"><i class="fa fa-angle-double-up fa-3x"></i></a>
    <a href="#hero-section"><i class="fa fa-home fa-3x"></i></a>
    <h2><em>In the year 2030 war broke out across the globe...</em></h2>
    <img src="../../src/images/Warrior.png" alt="">
    <p class="opening">
      <span><em>66</em></span>Everyone's worst fears of nuclear warfare came to pass.  In order to somewhat
      preserve humanity, scientists created sleeper pods that would allow people to
      be cryogenically frozen.  After a few hundred years had passed and it was safe to
      live, they would automatically be revived.  There were hundreds of people locked in
      the pods to be humanity's last hope.
    </p>
    <a href="#continue-story"><i class="fa fa-angle-double-down fa-3x"></i></a>
  </div>
  <div id="continue-story">
    <a href="#about-game"><i class="fa fa-angle-double-up fa-3x"></i></a>
    <a href="#hero-section"><i class="fa fa-home fa-3x"></i></a>
    <h2><em>The Story Continues...</em></h2>
    <img src="../../src/images/Whitemage.png" alt="">
    <p class="opening">
      That was 368 years ago.  Today the first pod has been opened.  Link awakens 
      to find that his pod has been opened earlier than it was programmed to open. He finds 
      instructions left for him to go wake the other sleepers.  Link's first priority is finding
      his sister Ellie and making sure she is safe.  When Link got to where Ellie's pod was he was
      greeted by a young boy who appeared to be trying to destroy her pod.  Link stops him and revives
      Ellie.  Together they set out to open the other pods before the strange boy can get to them.
      <span><em>66</em></span>
    </p>
    <a href="#controls"><i class="fa fa-angle-double-down fa-3x"></i></a>
  </div>
  <div id="controls">
    <a href="#continue-story"><i class="fa fa-angle-double-up fa-3x"></i></a>
    <a href="#hero-section"><i class="fa fa-home fa-3x"></i></a>
    <h2><em>Controls</em></h2>
    <ul class="opening-left opening">
      <li>Left: D-pad Left</li> 
      <li>Right: D-pad Right</li> 
      <li>Up: D-pad Up</li> 
      <li>Down: D-pad</li> 
      <li>Back: <img class="control-scheme-images" src="src/images/circle.png" alt=""></li> 
      <li>Select: <img class="control-scheme-images" src="src/images/x.png" alt=""></li> 
      <li>Menu: <img class="control-scheme-images" src="src/images/triangle.png" alt=""></li> 
      <li>Skip Cut-Scenes: <img class="control-scheme-images" src="src/images/square.png" alt=""></li> 
    </ul>
    <ul class="opening-right opening">
      <li>| Left Arrow Key</li>
      <li>| Right Arrow Key</li>
      <li>| Up Arrow Key</li>
      <li>| Down  Arrow Key</li>
      <li>| Z Key</li>
      <li>| Space Bar Key</li>
      <li>| M Key</li>
      <li>| S Key</li>
    </ul>

  </div>
</section>

<section class="footer">
  <h4>Check Me Out</h4>
  <a href="https://twitter.com/richijeffery"><img src="src/images/twitter.png" alt=""></a>
  <a href="https://www.facebook.com/richi.jeffery"><img src="src/images/facebook.png" alt=""></a>
  <a href="https://github.com/richi1717"><img src="src/images/github.png" alt=""></a>
  <a href="https://plus.google.com/u/0/117737463118863088157/posts/p/pub"><img src="src/images/google-plus.png" alt=""></a>
</section>