<span class="battle-menu-turn menu-magic sub-menu">
    {{#each this.magicAbilities}}
      <li><button class="menu-select" data-magic="{{this}}">{{this}}</button></li>
    {{/each}}
   

    

</span>