
<div class="new-game-screen">
  <div>
    <div class="new-game-input">Enter Your Name</div>
    <button class="upper" data-next="1" autofocus>a</button>
    <button class="upper" data-next="2">b</button>
    <button class="upper" data-next="3">c</button>
    <button class="upper" data-next="4">d</button>
    <button class="upper" data-next="5">e</button>
    <button class="upper" data-next="6">f</button>
    <button class="upper" data-next="7">g</button>
    <button class="upper" data-next="8">h</button>
    <button class="upper" data-next="9">i</button>
    <button class="upper" data-next="10">j</button>
    <button class="upper" data-next="11">k</button>
    <button class="upper" data-next="12">l</button>
    <button class="upper" data-next="13">m</button>
    <button class="upper" data-next="1">n</button>
    <button class="upper" data-next="2">o</button>
    <button class="upper" data-next="3">p</button>
    <button class="upper" data-next="4">q</button>
    <button class="upper" data-next="5">r</button>
    <button class="upper" data-next="6">s</button>
    <button class="upper" data-next="7">t</button>
    <button class="upper" data-next="8">u</button>
    <button class="upper" data-next="9">v</button>
    <button class="upper" data-next="10">w</button>
    <button class="upper" data-next="11">x</button>
    <button class="upper" data-next="12">y</button>
    <button class="upper" data-next="13">z</button>
    <button class="upper" data-next="1">1</button>
    <button class="upper" data-next="2">2</button>
    <button class="upper" data-next="3">3</button>
    <button class="upper" data-next="4">4</button>
    <button class="upper" data-next="5">5</button>
    <button class="upper" data-next="6">6</button>
    <button class="upper" data-next="7">7</button>
    <button class="upper" data-next="8">8</button>
    <button class="upper" data-next="9">9</button>
    <button class="upper" data-next="10">0</button>
    <button class="upper" data-next="11"><</button>
    <button class="upper" data-next="12">></button>
    <button class="upper" data-next="13">/</button>
    <button class="1" id="space">⏘</button>
    <button class="2" id="clear">clear</button>
    <button class="3" id="backspace">backspace</button>
    <button class="4" id="shift">⇧shift</button>
  </div>
</div>
