
<div class="new-game-screen">
  <div>
    <div class="new-game-input">Enter Your Name</div>
    <button class="upper">a</button>
    <button class="upper">b</button>
    <button class="upper">c</button>
    <button class="upper">d</button>
    <button class="upper">e</button>
    <button class="upper">f</button>
    <button class="upper">g</button>
    <button class="upper">h</button>
    <button class="upper">i</button>
    <button class="upper">j</button>
    <button class="upper">k</button>
    <button class="upper">l</button>
    <button class="upper">m</button>
    <button class="upper">n</button>
    <button class="upper">o</button>
    <button class="upper">p</button>
    <button class="upper">q</button>
    <button class="upper">r</button>
    <button class="upper">s</button>
    <button class="upper">t</button>
    <button class="upper">u</button>
    <button class="upper">v</button>
    <button class="upper">w</button>
    <button class="upper">x</button>
    <button class="upper">y</button>
    <button class="upper">z</button>
    <button class="upper">1</button>
    <button class="upper">2</button>
    <button class="upper">3</button>
    <button class="upper">4</button>
    <button class="upper">5</button>
    <button class="upper">6</button>
    <button class="upper">7</button>
    <button class="upper">8</button>
    <button class="upper">9</button>
    <button class="upper">0</button>
    <button class="upper"><</button>
    <button class="upper">></button>
    <button class="upper">/</button>
    <button id="space">⏘</button>
    <button id="clear">clear</button>
    <button id="backspace">backspace</button>
    <button id="shift">⇧shift</button>
  </div>
</div>