<form action="#" class="user">
  <div class="input-group">
    <div class="input-label">
      <label>Name: </label>
    </div>
    <div class="input-box">
      <input type="text" name="name" value="{{name}}">
    </div>
  </div>
  <div class="input-group">
    <div class="input-label">
      <label>Hobby: </label>
    </div>
    <div class="input-box">
      <input type="text" name="hobby" value="{{hobby}}">
    </div>
  </div>
  <br>
  <button>Submit</button>
</form>

