
.content div, p {
   /* box-sizing: border-box;
    border: 1px solid rgba(102, 102, 102, 0.1);
    height: 50px;
    width: 5%;*/
}

img {
  height: 50px;
  width: 50px;
}

.row div {
   display: inline-block;
   height: 50px;
   width: 50px;
   border: 1px solid black;
   box-sizing: border-box;

}

p {
    position: absolute;
    margin:0;
    padding:0;
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    border: 2px solid red;
    background-color: rgba(0,255,0,0.33);
}
p.left {
    border-left: 2px solid rgba(0,255,0,0.75);
}
p.bottom {
    border-bottom: 2px solid rgba(0,255,0,0.75);
}
p.right {
    border-right: 2px solid rgba(0,255,0,0.75);
}
p.top {
    border-top: 2px solid rgba(0,255,0,0.75);
}

.grass {
    background-color: green;
}

.forest {
  background-image: url('src/images/forest.png');
  background-size: cover;
}

.sand {
    background-color: rgba(233, 180, 78, 1);
}

.water {
    /*background-color: blue;*/
    background-image: url('src/images/water.png');
    background-size: cover;
}

.quicksand {
    background-color: rgba(183, 135, 20, 1);
}